<h1>login</h1>
 <div class="auth-container">
    <h2>entrar</h2>

    <form action="/login" method="post">
    
        <div class="form-control">
            <label for="email">E-mail:</label>
            <input type="email" name="email" placeholder="Digite seu E-mail">
        </div>
        <div class="form-control">
            <label for="senha">Senha:</label>
            <input type="password" name="senha" placeholder="Digite sua Senha">
        </div>
        <input class="btn" type="submit" value="Entrar">
        <p>Não tem uma conta? <a href="/register">Resgistrar</a></p>
    </form>
 </div>