<div class="tought-form-container">
    <a href="/toughts/dashboard">Voltar</a>
    <h1>Edite Um pensamento</h1>

    <form action="/toughts/edit" method="post">

        <input type="hidden" name="id" value="{{tought.id}}">
    
        <div class="form-control">
            <label for="title">Pensamento:</label>
            <input type="text" name="title" placeholder="No que esta pensando?" value="{{tought.title}}">
        </div>
        <input class="btn" type="submit" value="Editar Pensamento">
    </form>
</div>